@import '~/assets/styling/variables.sass'
@import '~/assets/styling/typography.sass'
@import '~/assets/styling/transitions.sass'

// General
img
  transition: opacity .2s ease-in-out
  opacity: 0

img[lazy="loaded"]
  opacity: 1

.icon
  img
    opacity: 1
    width: 30px
    height: 30px

.desktop // Only visible at desktop breakpoint
  @media all and (max-width: $breakpoint)
    display: none

// App Styling
.app-Container
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  @media all and (max-width: $breakpoint)
    flex-direction: column

// Header Styling
.headerItem
  position: sticky
  align-self: flex-start
  top: 0
  display: flex
  justify-content: flex-start
  flex-wrap: nowrap
  padding: $spacing-4
  @media all and (max-width: $breakpoint)
    padding: $spacing-3
  .menu
    max-width: 500px
    margin-left: $spacing-4
    @media all and (max-width: $breakpoint)
      margin-left: $spacing-3
    li
      display: inline-block
      text-transform: capitalize
      margin-right: 1em
      a
        text-decoration: none
      a:hover
        text-decoration: underline
    li.active a
      text-decoration: underline
    a
      line-height: 1.5
  .menu-arrow
    padding-right: $spacing-3
    padding-bottom: $spacing-3
    cursor: pointer
    &:hover > span
      text-decoration: underline
    img
      transform: translateY(-3px)

.logo
  display: inline-flex
  flex-wrap: wrap
  width: calc((24px * 3) + (2px * 2))
  align-content: flex-start
  transition: opacity .2s ease
  cursor: pointer
  flex-shrink: 0
  @media all and (max-width: $breakpoint)
    margin-left: 0
  &:hover
    opacity: .75
  li
    width: 24px
    height: 24px
    background: black
    margin-right: 2px
    margin-bottom: 2px
  li:nth-child(2), li:nth-child(8)
    background: transparent
  li:nth-child(3n)
    margin-right: 0

// Views
.view-General
  width: calc(380px + (2 * #{$spacing-3})
  flex-shrink: 0
  padding: $spacing-3
  @media all and (max-width: $breakpoint)
    width: 100%

.view-Blog
  .post-List
    li:hover
      img
        opacity: .55
    .markdown
      max-height: calc(4 * #{$lineheight-base})
      overflow: hidden

.view-Post
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100vh
  .post-List
    li img
      cursor: pointer
      transition: opacity .2s ease
    li img:hover
      opacity: .55

.post-List
  li
    margin-bottom: 50px
    display: inline-block // Assures the FLIP animation script (fade-in-ou for li elements)
  li:last-child
    margin-bottom: $spacing-3

.post-Item
  > div
    margin-bottom: $spacing-3
  > div:last-child
    margin-bottom: 0
  img
    width: 100%
    height: auto
    padding-bottom: $spacing-3
    border: 1px solid red
  img:last-child
    margin-bottom: 0
  .post-Info
    display: flex
    justify-content: flex-start
  .post-Images
    img:last-child
      margin-bottom: 0
  .post-Footer
    display: flex
    justify-content: space-between
    width: 100%
    max-width: 400px
    @media all and (max-width: $breakpoint)
      width: 100%
      max-width: 100%
    img
      width: 24px
      height: 13px
      display: inline
    &_Next
      margin-left: auto
    &_Prev, &_Next
      p
        margin-left: 6px
        margin-right: 6px
      cursor: pointer
      &:hover p
        text-decoration: underline
    &_Next img
      transform: rotate(180deg)

// TIJDELIJK
#show-modal
  padding-top: 200px
  z-index: 100
