@import '~/assets/styling/variables.sass'
@import '~/assets/styling/typography.sass'
@import '~/assets/styling/transitions.sass'

// General
img
  transition: opacity .2s ease-in-out
  opacity: 0

img[lazy="loaded"]
  opacity: 1

.icon
  img
    opacity: 1
    width: 30px
    height: 30px

.desktop // Only visible at desktop breakpoint
  @media all and (max-width: $breakpoint)
    display: none

.logo
  flex-shrink: 0
  transition: opacity .2s ease
  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 1
    cursor: pointer
    object-fit: contain
    object-position: center center
  &:hover
    opacity: .55

// App Styling
.app-Container
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  @media all and (max-width: $breakpoint)
    flex-direction: column

// Header Styling
.headerItem
  position: sticky
  align-self: flex-start
  top: 0
  display: flex
  justify-content: flex-start
  flex-wrap: nowrap
  padding: $spacing-4
  @media all and (max-width: $breakpoint)
    padding: $spacing-3
  .logo
    position: relative
    width: calc((24px * 3) + (2px * 2))
    height: calc((24px * 3) + (2px * 2))
  .menu
    max-width: 500px
    margin-left: $spacing-4
    @media all and (max-width: $breakpoint)
      margin-left: $spacing-3
    li
      display: inline-block
      text-transform: capitalize
      margin-right: 1em
      a
        text-decoration: none
      a:hover
        text-decoration: underline
    li.active a
      text-decoration: underline
    a
      line-height: 1.5
  .menu-arrow
    padding-right: $spacing-3
    padding-bottom: $spacing-3
    cursor: pointer
    &:hover > span
      text-decoration: underline
    img
      transform: translateY(-3px)

// Views
.view-General
  width: calc(380px + (2 * #{$spacing-3})
  flex-shrink: 0
  padding: $spacing-3
  @media all and (max-width: $breakpoint)
    width: 100%

.view-Home
  padding: $spacing-3
  width: 100vw
  height: 100vh
  cursor: pointer
  display: block
  img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: 50% 50%
  .imageContainer
    width: 100%
    height: 100%
  .logo
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    height: 100%
    // max-width: calc((6vmin * 3) + (.5vmin * 2))
    // max-height: calc((6vmin * 3) + (.5vmin * 2))
    padding: $spacing-3
    max-width: 50vmin
    max-height: 50vmin

.view-Blog // Index page
  .post-List
    li
      cursor: pointer
    li:hover
      img
        opacity: .55

.view-Post // Project page
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100vh
  .post-List
    li img
      cursor: pointer
      transition: opacity .2s ease
    li img:hover
      opacity: .55

// Post Styling
.post-List
  li
    margin-bottom: 25
    display: inline-block // Assures the FLIP animation script (fade-in-ou for li elements)

.post-Item
  margin-bottom: $spacing-3
  img, h1, p
    padding-bottom: $spacing-3
  img
    width: 100%
    height: auto
  .post-Info
    display: flex
    justify-content: flex-start
