// 1. Base scale non-linear scale https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62
// 2. Base scale on fluid typography (em) https://www.creativebloq.com/how-to/design-a-responsive-site-with-em-based-sizing
$spacing-3: 25px
$spacing-4: 50px
$spacing-5: 100px

$breakpoint: 750px

$font-base: 16px
$lineheight-base: 1.5em
